Repository AndrewFenriz/KawaiiStation14, pull requests merged in 2024-11, with the labels that each got.

#2 minor research update
  Resources/Prototypes/Taipan/Research/arsenal.yml
  Resources/Prototypes/Taipan/Research/civilianservices.yml
  Resources/Prototypes/Taipan/Research/experimental.yml
  Resources/Prototypes/Taipan/Research/industrial.yml
Labels: S: Untriaged, Changes: No C#, size/XL

#5 Add cargo bounties for taipan
  Content.Server/Cargo/Components/StationCargoBountyDatabaseComponent.cs
  Content.Server/Cargo/Systems/CargoSystem.Bounty.cs
  Content.Shared/Cargo/Prototypes/CargoBountyPrototype.cs
  Resources/Locale/en-US/cargo/bounties.ftl
  Resources/Prototypes/Catalog/Bounties/taipan_bounties.yml
  Resources/Prototypes/Entities/Stations/base.yml
Labels: S: Untriaged, size/M, Changes: Localization

#4 Add cargo orders for taipan
  Resources/Locale/en-US/prototypes/catalog/cargo/cargoproduct-categories.ftl
  Resources/Prototypes/Catalog/Cargo/cargo_syndicate.yml
  Resources/Prototypes/Entities/Objects/Devices/Circuitboards/computer.yml
  Resources/Prototypes/Entities/Structures/Machines/Computers/computers.yml
Labels: Changes: No C#, size/M, Changes: Localization

#7 Заправщик имплантеров
  Resources/Prototypes/Entities/Objects/Misc/implanters.yml
  Resources/Prototypes/Reagents/Materials/materials.yml
  Resources/Prototypes/Taipan/Entities/Objects/Devices/Circuitboards/Machine/production.yml
  Resources/Prototypes/Taipan/Entities/Structures/Machines/lathe.yml
  Resources/Prototypes/Taipan/Recipes/Lathes/electronics.yml
  Resources/Prototypes/Taipan/Recipes/Lathes/implanterfiller.yml
  Resources/Prototypes/tags.yml
Labels: Changes: No C#, size/L
